body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    font-family: "Arial Nova";
    font-size: 30px;
    margin-bottom: 20px;
}

.block{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    box-sizing: border-box;
}

.fa-solid {
    width: 20px;
    height: 20px;
    color: silver;


}

.box{
    width: 200px;
    height: 300px;
    box-sizing: border-box;


    border-top: 1px solid silver;
    border-right: 3px solid silver;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    width: 100%;
    text-align: center;
    color: #dc6f18;
    font-size: 20px;
    font-family: Shruti, sans-serif;
    font-weight: 500;
}

.txt{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-family: Candara, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: silver;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.button{
    width: 60%;
    height: 40px;
    background: #56c3b6;
    display: flex;

    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ffffff;

    margin-bottom: 10px;
}