body{
    margin: 0;
}

.block{
    height: 400px;

    display: flex;
    justify-content: center;


}

.box{
    height: 350px;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.title{
    width: 100%;
    height: 80px;
    padding-bottom: 10px;

    font-size: 20px;
    font-family: "Times New Roman", sans-serif;

    display: flex;
    justify-content: center;
    align-items: end;
}

.text{
    width: 80%;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-family: "Times New Roman", sans-serif;
    display: flex;
    align-items: center;
    margin-top: 10px;

}

.button{
    height: 40px;
    width: 70%;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
